<template>

  <div id="app">

    <h1>{{ titulo }}</h1>
  
    
    <div class="users" v-for="user of users">
      <p><b>Username: </b>{{user.Username}}</p>
      <p><b>Nome: </b>{{getAttr(user, "name")}}</p>
      <p><b>Cumple: </b>{{getAttr(user, "birthdate")}}</p>
      <p><b>LastModifiedDate: </b>{{user.UserLastModifiedDate}}</p>
      <p><b>Status: </b>{{user.UserStatus}}</p>
    </div>

    

  </div>

</template>

<script>

export default {

  name: 'app',
  
  
  components: {
  },
  
  data () {
    return {
      titulo: "Users",
      users: [],
      getAttr: (user, attr) => {
        let seek = user.Attributes.find(a => a.Name == attr);
        if(seek) {
          return seek.Value
        }
        return "";
      }
    }
  },
  
  created() {

    let req = this.$http.get('http://localhost:8000/user/list');
    req.then( users => this.users = users.data);

  },
}

</script>

<style>
    .users {
        border: 1px solid #c7c7c7;
        background: #f5f5f5;
        padding: 5px 20px;
        margin-bottom: 20px;
    }
</style>