<template>
  <div>
    <h1>Create</h1>
    <form @submit="save()">

      <div class="controle">
        <label for="email">E-mail</label>
        <input @input="model.email = $event.target.value" id="email">
      </div>

      <div class="controle">
        <label for="nome">Nome</label>
        <input @input="model.nome = $event.target.value" id="nome">
        <imagem-responsiva/>
      </div>

      <div class="controle">
        <label for="birthdate">Cumple</label>
        <input @input="model.birthdate = $event.target.value" id="birthdate" type="date">
      </div>

      <div class="controle">
        <label for="username">Username</label>
        <input @input="model.username = $event.target.value" id="username">
      </div>

      <div class="controle">
        <label for="password">Password</label>
        <input @input="model.password = $event.target.value" id="password" type="password">
      </div>

      <div class="centralizado">
        <button type="submit">Save</button>
      </div>

    </form>
  </div>
</template>

<script>

export default {
    data () {
        return {
            model: {
                email: "",
                nome: "",
                birthdate: "",
                username: "",
                password: "",
            }
        }
    },
    methods: {
        save() {
            this.$http.get('http://localhost:8000/user/new?email=' + this.model.email + "&nome="  + this.model.nome + "&birthdate=" + this.model.birthdate + "&username=" + this.model.username + "&password=" + this.model.password)
            .then( resp => {

                if(resp.data.message) {
                    alert(resp.data.message);
                } else {
                    window.location.href = "/#/?id=" + resp.data;
                }

            });

            return false;
       }
    }
}

</script>
<style scoped>
    .centralizado {
        text-align: center;
    }
</style>