<template>
  <div class="corpo">
     
     <menu-top :routes="routes"/>

    <router-view></router-view>

  </div>
</template>

<script>

import { routes }  from './routes';
import Menu from './components/shared/menu/Menu.vue';

export default {
  components: {
    'menu-top' : Menu
  },

  data() {

    return {
      routes
    }

  }
}

</script>

<style>
  .corpo {
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
    width: 96%;
  }
</style>